<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>blogController</servlet-name>
        <servlet-class>project.controller.blogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>project.controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pageController</servlet-name>
        <servlet-class>project.controller.pageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminBlogController</servlet-name>
        <servlet-class>project.controller.adminBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlog</servlet-name>
        <servlet-class>project.controller.deleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddBlogController</servlet-name>
        <servlet-class>project.controller.adminAddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditBlogController</servlet-name>
        <servlet-class>project.controller.adminEditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>project.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>project.controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>project.controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogDetailController</servlet-name>
        <servlet-class>project.controller.blogDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pageController</servlet-name>
        <url-pattern>/page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminBlogController</servlet-name>
        <url-pattern>/adminBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlog</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddBlogController</servlet-name>
        <url-pattern>/adminAddBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditBlogController</servlet-name>
        <url-pattern>/adminEditBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogDetailController</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
