.course-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .course-table th,
  .course-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .course-table button {
    background-color:cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 5px;
    font-size: 13px;
  }

  .name-cell {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .action-cell {
    width: 30%;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }