.login-wrapper {
  width: 100vw; /* Chiều rộng 100% của viewport */
  height: 100vh; /* Chiều cao 100% của viewport */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  /* background-color: '#bebfc2'; */
  background-color:darkgrey;
}

.form {
  width: 400px;
  justify-content: center;
  display: flex;
}